<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66543682117-elm6kott7s82bsdbbqa3pnh2hpl98efg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66543682117-elm6kott7s82bsdbbqa3pnh2hpl98efg</string>
	<key>API_KEY</key>
	<string>AIzaSyAKEFhznvTXqJTbAQUtEi5FRe2olnQ25lI</string>
	<key>GCM_SENDER_ID</key>
	<string>66543682117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tazeey.avada</string>
	<key>PROJECT_ID</key>
	<string>avada-1337</string>
	<key>STORAGE_BUCKET</key>
	<string>avada-1337.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66543682117:ios:d980e86c841ff3305a992c</string>
	<key>DATABASE_URL</key>
	<string>https://avada-1337.firebaseio.com</string>
</dict>
</plist>